@charset "utf-8";

@font-face {
  font-family: "SS-regular";
  src: url("../fonts/SS-regular.woff2") format("woff2");
}

@font-face {
  font-family: "SS-bold";
  src: url("../fonts/SS-bold.woff2") format("woff2");
}
