@charset "utf-8";

.bt-navbar {
  display: none;
}

@media screen and (max-width: 1219px) {
  .bt-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 92px;
    z-index: 40;
    /* background-color: rebeccapurple; */
  }
  .bt-navbar-inner {
    position: relative;
    height: 92px;
    padding: 1.6rem 1rem 0.2rem;
  }
  .bt-navbar-inner ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }
  .bt-navbar-inner ul li {
    position: relative;
    flex: 1 1 6.9rem;
  }
  .bt-navbar-inner ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 56px;
    padding-top: 0.1rem;
    gap: 0.1rem;
  }
  .bt-navbar-inner ul li a::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../images/main/homepage/bottom_nav_i1_on.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .bt-navbar-inner ul li:nth-of-type(1) a::before {
    background-image: url("../../images/main/homepage/bottom_nav_i1_on.svg");
  }
  .bt-navbar-inner ul li:nth-of-type(2) a::before {
    background-image: url("../../images/main/homepage/bottom_nav_i2_off.svg");
  }
  .bt-navbar-inner ul li:nth-of-type(3) a::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-position: top center;
    width: 70px;
    height: 70px;
    background-image: url("../../images/main/homepage/bottom_nav_consultant_off.png");
  }
  .bt-navbar-inner ul li:nth-of-type(3) a {
    height: 70px;
  }
  .bt-navbar-inner ul li:nth-of-type(3) a p {
    margin-top: 4.4rem;
  }
  .bt-navbar-inner ul li:nth-of-type(4) a::before {
    background-image: url("../../images/main/homepage/bottom_nav_i3_off.svg");
  }
  .bt-navbar-inner ul li:nth-of-type(5) a::before {
    background-image: url("../../images/main/homepage/bottom_nav_i4_off.svg");
  }
  .bt-navbar-inner ul li a p {
    font-family: "SS-bold";
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #7e89a2;
  }
  .bt-navbar-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    /* background-color: #7e89a2; */
    display: flex;
    justify-content: space-between;
  }
  .bt-navbar-bg .round {
    position: relative;
    width: 80px;
    flex: 0 0 80px;
    background: url("../../images/main/homepage/bottom_nav_bg_round.png")
      no-repeat center;
    background-size: contain;
  }
  .bt-navbar-bg::before,
  .bt-navbar-bg::after {
    content: "";
    height: 92px;
    flex: 1;
    background-image: url("../../images/main/homepage/bottom_nav_bg_line.png");
    background-repeat: repeat-x;
    background-size: contain;
  }
}
