@charset "utf-8";

.main {
  position: relative;
  width: 100%;
}
.main .inner {
  position: relative;
  width: 100%;
  max-width: 1228px;
  margin: 0 auto;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
}

.main-left {
  position: relative;
  width: 775px;
}

/* 로그인 메뉴 모바일 */
.login-wrap-mb {
  display: none;
}

/* 자주찾는 메뉴 모바일 */
.shortcut-wrap-mb {
  display: none;
}
/* 사이드 배너 모바일 */
.side-banner-wrap-mb {
  display: none;
}

.main-right {
  position: relative;
  width: 335px;
}
