@charset "utf-8";

.sw-card-section {
  position: relative;
  width: 100%;
  /* height: 282px; */
  margin-top: 5rem;
}
.sw-card {
  width: 100%;
  height: 100%;
}
.sw-card .swiper-wrapper {
  margin-bottom: 2.2rem;
}
.sw-card .swiper-slide {
  width: 237px;
  height: 260px;
  text-align: center;
  font-size: 18px;
  background: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  /* flex: 0; */
}
.sw-card .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sw-card .swiper-pagination {
  position: relative;
}
.sw-card .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  /* border-radius: 3px; */
}
.sw-card .swiper-pagination-bullet-active {
  margin: 0 !important;
  width: 16px;
  border-radius: 3px;
}
.sw-card .swiper-button-disabled {
  opacity: 0;
}

@media screen and (max-width: 1219px) {
  .sw-card .swiper-slide {
    width: 200px !important;
    /* margin: 0 30px !important; */
  }
  .sw-card .swiper-slide:first-child {
    /* margin-left: 0 !important; */
  }
  .sw-card .swiper-slide:last-child {
    /* margin-right: 0 !important; */
  }
  .sw-card .swiper-wrapper {
    justify-content: space-between;
  }
  .sw-card .swiper-button-next {
    opacity: 0;
  }
  .sw-card .swiper-button-prev {
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .sw-card .swiper-slide {
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
  }
  .sw-card .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
  }
}
